<html th:replace="~{layout :: layout('Order', ~{::body})}" xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="breadcrumbs text-sm">
        <ul>
            <li><a class="btn btn-link" th:href="@{/}">Back</a></li>
        </ul>
    </div>
    <main>

        <h2 class="text-xl font-semibold">Order of [[${customer.customername}]]</h2>

        <table class="table">
            <tr class="border-b">
                <th>Number</th>
                <th>Status</th>
                <th>Order Date</th>
                <th>Required Date</th>
                <th>Shipped Date</th>
                <th>Comments</th>
                <th></th>
            </tr>
            <tr class="border-b" th:each="order : ${orders}">
                <td th:text="${order.ordernumber}"></td>
                <td th:text="${order.status}"></td>
                <td th:text="${#dates.format(order.orderdate, 'yyyy-MM-dd') ?: '-'}">-</td>
                <td th:text="${#dates.format(order.requireddate, 'yyyy-MM-dd') ?: '-'}">-</td>
                <td th:text="${#dates.format(order.shippeddate, 'yyyy-MM-dd') ?: '-'}">-</td>
                <td th:text="${order.comments ?: '-'}"></td>
                <td class="p-2"><a class="btn btn-neutral btn-sm"
                        th:href="@{/customer/{no}/order/{ono}/detail(no=${customer.customernumber},ono=${order.ordernumber})}">View Details</a></td>
            </tr>
        </table>
    </main>
</body>

</html>