<html th:replace="~{layout :: layout('Home', ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
    <main th:fragment="productTable">
        <!-- <style>
            mark {
                background-color: #000;
                color: #fff;
            }
        </style> -->
        <h2 class="text-xl font-semibold my-2">Search Products</h2>
        <!-- Search Form for use in product list -->
        <form th:if="${addProduct == null}" th:action="@{/product}" method="get" class="flex items-center gap-4">
            <input type="text" name="q" th:value="${q}" placeholder="Search products" class="input input-bordered">

            <label class="label cursor-pointer gap-2">
                <input type="checkbox" name="es" class="checkbox" th:checked="${es}">
                <span class="label-text">Use Elasticsearch</span>
            </label>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <p>Total: <span th:text="${#lists.size(results)}"></span></p>
        <table id="results" class="table">
            <thead class="sticky top-0 bg-base-100">
                <tr class="border-b">
                    <th>Product Code</th>
                    <th>Product Line</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th th:if="${addProduct!=null}"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b" th:each="product : ${results}">
                    <td th:text="${product.productcode}"></td>
                    <td class="no-highlight" th:unless="${es}" th:text="${product.productlines.productline}"></td>
                    <td class="no-highlight" th:if="${es}" th:text="${product.productline}"></td>
                    <td th:text="${product.productname}"></td>
                    <td th:text="${product.productdescription}">-</td>
                    <td th:if="${addProduct != null}">
                        <form
                            th:action="@{/customer/{no}/order/{ono}/lines(no=${customer.customernumber},ono=${order.ordernumber})}"
                            method="post">
                            <input type="hidden" name="productcode" th:value="${product.productcode}">
                            <input type="hidden" name="quantity" value="1" min="1">
                            <input type="hidden" name="q" th:value="${q}">
                            <input type="hidden" name="es" th:value="${es}">
                            <button type="submit" class="btn btn-neutral btn-sm">Add</button>
                        </form>
                    </td>


                </tr>
            </tbody>

        </table>

        <div th:replace="~{fragments/mark}"></div>
    </main>
</body>

</html>